.secondary{
  width:100%;
  margin:1rem 0rem;
}

.spacer {
  padding-top:5rem;
}
.strapline {
  margin-top:3rem;
  padding:3rem;
  color:#fdfdfd;
}
.j-arrow:after{
   content: '\02192';
}

.btn-social-icon {
  color:white !important;
}

.social-icons {
  padding: 1rem;
  float:right;
}

@media screen and (max-width: 768px) {
  .h1,h1{
    font-size:1.25rem;
  }
  .strapline {
      width:100%;
  }
  .j-arrow:after{
    content: '\02193';
  }
}

.icon-sp{
  padding:0.3rem;
}
